﻿@model WillAssure.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from codervent.com/rukada/light-admin/authentication-signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Nov 2018 11:46:08 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Will Assure</title>

    @*Master Style Links*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Sweet Alerts -->
    <script src="~/assets/plugins/alerts-boxes/js/sweetalert.min.js"></script>
    <script src="~/assets/plugins/alerts-boxes/js/sweet-alert-script.js"></script>
    <!--favicon-->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />
    <!--Data Tables -->
    <link href="~/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    @*Master end*@
    <style>
        input[type="email"] {
            text-align: center;
        }
    </style>

    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
</head>
<body class="bg-dark">
    <!-- Start wrapper-->
    <div id="wrapper">
        <div class="card card-authentication1 mx-auto my-5">
            <div class="card-body">
                <div class="card-content p-2">
                    <div class="text-center">
                        <img src="~/assets/images/logo-icon.png" alt="logo icon">
                        <br />
                        <br />
                        @if (ViewBag.type != "message")
                        {
                            <h6 style="color:#5b3fc6;">@ViewBag.type</h6>
                        }




                    </div>
                    @*<div class="card-title text-uppercase text-center py-3">Will Assure</div>*@
                    <br />
                    <br />
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "changepasswordform" }))
                    {

                        if (ViewBag.EnablePassword != "true")
                        {
                            <div id="logincontent">
                                <div class="form-group">
                                    <label for="exampleInputUsername" class="">UserName</label>
                                    <div class="position-relative has-icon-right">
                                        @Html.TextBoxFor(m => m.UserID, new { @id = "txtUserId", @class = "form-control input-shadow", @placeholder = "Enter UserID", @autocomplete = "off" })
                                        <div class="form-control-position">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword" class="">Password</label>
                                    <div class="position-relative has-icon-right">
                                        @Html.TextBoxFor(m => m.Password, new { @type = "password", @id = "exampleInputPassword", @class = "form-control input-shadow", @placeholder = "Enter Password", @autocomplete = "off" })
                                        <div class="form-control-position">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-8 text-capitalize">
                                        <a href="#" class="launch-modal" value="Launch Demo Modal">Forget Password ?</a>

                                    </div>
                                    <div class="form-group col-3 text-capitalize">
                                        <a href="@Url.Action("Index", "Frontend")">WillAssure</a>
                                    </div>
                                </div>
                                <button type="submit" formaction="@Url.Action("LoginPageData", "LoginPage")" id="btnlogin" class="btn btn-primary shadow-primary btn-block waves-effect waves-light">Sign In</button>

                                <button type="button" id="btnloginSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
                                <button type="button" id="btnloginFAILED" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
                                <button id="btnchanged" style="display:none" type="button"></button>
                            </div>
                        }
                        else
                        {
                            <div id="Passwordcontent" style="display:">
                                <center><h5 style="color:blueviolet;">Please Check Your Email For OTP</h5></center>
                                <br />
                                <div class="form-group">
                                    <label for="exampleInputUsername" class="">OTP</label>
                                    <div class="position-relative has-icon-right">
                                        @Html.TextBoxFor(m => m.FOTP, new { @id = "txtotp", @onchange = "VerifyOTP(this.value)", @class = "form-control input-shadow", @placeholder = "Enter OTP", @autocomplete = "off" })
                                        <div class="form-control-position">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                    <span id="errmsg" style="color:red;"></span>
                                    <span id="lblOTP" style="color:red; display:none;">Invalid OTP</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword" class="">New Password</label>
                                    <div class="position-relative has-icon-right">
                                        @Html.TextBoxFor(m => m.FPassword, new { @type = "password", @id = "txtnewpassword", @class = "form-control input-shadow", @placeholder = "Enter Confirm Password", @autocomplete = "off" })
                                        <div class="form-control-position">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword" class="">Confirm Password</label>
                                    <div class="position-relative has-icon-right">
                                        @Html.TextBoxFor(m => m.FconfirmPassword, new { @type = "password", @id = "txtconfirmpassword", @onchange = "VerifyPassword(this.value)", @class = "form-control input-shadow", @placeholder = "Enter Confirm Password", @autocomplete = "off" })
                                        <div class="form-control-position">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                    <span id="lblpmsg" style="color:red; display:none;">Password Does Not Match</span>
                                </div>




                                <div class="form-group col-8 text-capitalize">
                                    <i class="icon-user" style="color:#5e72e4"></i>&nbsp;&nbsp; <a href="@Url.Action("LoginPageIndex","LoginPage")">Sign In</a>

                                </div>


                                <button type="submit" formaction="@Url.Action("UpdateNewPassword", "LoginPage")" id="btnlogin" class="btn btn-primary shadow-primary btn-block waves-effect waves-light">Submit</button>

                                <button type="button" id="btnloginSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
                                <button type="button" id="btnloginFAILED" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>

                            </div>
                        }





                    }
                </div>


                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">

                                        @using (Html.BeginForm())
                                        {

                                            <center>
                                                <div>


                                                    <div>
                                                        <h5 style="white-space:nowrap;">Please Enter Registered Email ID</h5>
                                                        <br />
                                                        @Html.TextBoxFor(m => m.EmailID, new { @type = "email", @class = "form-control validate[required,custom[characteronly]] text-input", @id = "txtEmailid", @placeholder = "Enter Email ID", @style = "width:241px;", @autocomplete = "off", alert = "LabourCost is requried", @required = "Required", @onchange = "verifyEmail(this.value)" })
                                                        <span style="color:red; display:none;" id="lblemailcorrect">Entered Email ID Is Not Registered</span>
                                                    </div>



                                                </div>

                                                <br />

                                                <div class="form-group">
                                                    <input type="submit" name="name" formaction="@Url.Action("ForgotpasswordMail", "LoginPage")" class="btn btn-danger" value="Send Mail" />
                                                </div>
                                            </center>

                                        }
                                        <button id="change" style="display:none;"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
















        <script>
            $(document).ready(function () {
                $("#changepasswordform").validationEngine();
            });
        </script>




        <script>

            function verifyEmail(value) {

                  $.ajax({

            type: "POST",
            url: "@Url.Action("EmailCheckOTP", "LoginPage")",
            data: { "send": "" + value + "" },
            success: function (data) {

                if (data == "true") {
                    $("#lblemailcorrect").hide();
                }


                if (data == "false") {
                    $("#lblemailcorrect").show();
                    $("#txtEmailid").val("");
                }


            }

                });

            }





            function VerifyPassword(value) {

                var newpassword = $("#txtnewpassword").val();

                if (newpassword == value) {
                    $("#lblpmsg").hide();
                }
                else {
                    $("#lblpmsg").show();
                    $("#txtconfirmpassword").val("");
                }


            }





            function VerifyOTP(value) {


          $.ajax({

            type: "POST",
            url: "@Url.Action("CheckOTP", "LoginPage")",
            data: { "send": "" + value + "" },
            success: function (data) {

                if (data == "true") {
                    $("#lblOTP").hide();
                }


                if (data == "false") {
                    $("#lblOTP").show();
                    $("#txtotp").val("");
                }


            }

                });




            }

        </script>



        @*SUCCESS AND FAILED MESSAGE*@

        @if (ViewBag.Message == "SUCCESS")
        {
            <script>

                $(document).ready(function () {
                    $("#btnloginSUCCESS").on("click", function () { });

                    $("#btnloginSUCCESS").click(); //trigger event after listening to it.

                });
            </script>

        }
        @if (ViewBag.Message == "FAILED")
        {
            <script>

                $(document).ready(function () {

                    $("#btnloginFAILED").on("click", function () { });

                    $("#btnloginFAILED").click();

                });

            </script>

        }



        @if (ViewBag.passmsg == "true")
        {
            <script>

                $(document).ready(function () {

                    $("#btnchanged").on("click", function () { });

                    $("#btnchanged").click();

                });

            </script>

        }


        <script>
            $(document).ready(function () {
                //called when key is pressed in textbox
                $("#txtotp").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        //display error message
                        $("#errmsg").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });
            });



        </script>



        @if (ViewBag.change == "true")
        {
            <script>

                $(document).ready(function () {


                    $("#change").on("click", function () { });

                    $("#change").click(); //trigger event after listening to it.



                });
            </script>

        }



        <script type="text/javascript">
            $(document).ready(function () {
                $('.launch-modal').click(function () {
                    $('#myModal').modal({
                        backdrop: 'static'
                    });
                });
            });
        </script>




        @*END*@
    </div>
    </div>

    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
    </div><!--wrapper-->
    @*Master Scripts Links*@
    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/js/jquery.min.js" /></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- simplebar js -->
    <script src="~/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- waves effect js -->
    <script src="~/assets/js/waves.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>
    <!-- Chart js -->
    <script src="~/assets/plugins/Chart.js/Chart.min.js"></script>
    <!--Peity Chart -->
    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
    <!-- Index js -->
    <script src="~/assets/js/index3.js"></script>
    <!--Data Tables js-->
    <script src="~/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>
    @*Master Scripts Link End*@



    <script>
        $(document).ready(function () {
            $("#VerificationForm").validationEngine();
        });
    </script>
    @*END*@


</body>
<!-- Mirrored from codervent.com/rukada/light-admin/authentication-signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Nov 2018 11:46:08 GMT -->
</html>
