@model WillAssure.Models.BeneficiaryModel
@{
    ViewBag.Title = "AddBeneficiaryPageContent";
}

<style>
    ul#menu li {
        display: inline;
    }
</style>




<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">


                        @if (Session["doctype"] != null)
                        {
                            if (Session["doctype"].ToString() != "")
                            {
                                <h5 style="float:right; color:#199d4b;">DocumentType  : <span class="icon-doc" style="color:#199d4b;"><b>@Session["doctype"].ToString()</b></span> </h5>
                            }
                        }
                        else
                        {
                            if (!Response.IsRequestBeingRedirected)
                            {
                                Response.Redirect("/LoginPage/LoginPageIndex");
                            }
                        }








                        @if (Session["WillType"] != null || Session["testatorID"] != null)
                        {
                            if (Session["WillType"].ToString() == "Quick" && Session["doctype"].ToString() == "Will")
                            {

                                <h5>
                                    <ul id="menu" style="font-weight:bold;">
                                        <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["testatorID"]) })"><li style="color:black;">Testator></li></a>
                                        <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"> <li style="color:black;">TestatorFamily ></li></a>
                                        <a href="@Url.Action("AddBeneficiaryInstituteIndex","AddBeneficiaryInstitute")">
                                            <li style="color:black;">Institution ></li>
                                        </a>
                                        <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:;">Beneficiary ></li></a>


                                        <li style="color:#e1e1e1">Executor > </li>
                                        <li style="color:#e1e1e1">Witness > </li>
                                        <li style="color:#e1e1e1">Mapping > </li>
                                        <li style="color:#e1e1e1">Document</li>
                                    </ul>
                                </h5>


                            }
                            else
                            {
                                if (Session["doctype"] != null || Session["testatorID"] != null)
                                {
                                    if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                                    {
                                        <h5>
                                            <ul id="menu" style="font-weight:bold;">

                                                <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["testatorID"]) })"><li style="color:black;">Donor ></li></a>
                                                <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:">Donee ></li></a>
                                                <li style="color:#e1e1e1">Gift ></li>
                                                <li style="color:#e1e1e1">Asset Mapping ></li>
                                                <li style="color:#e1e1e1">Witness Appointment ></li>
                                                <li style="color:#e1e1e1">Document</li>



                                            </ul>
                                        </h5>
                                    }
                                    else
                                    {
                                        if (Session["Type"].ToString() != "Testator")
                                        {
                                            <h5>
                                                <ul id="menu" style="font-weight:bold;">

                                                    <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["testatorID"]) })"><li style="color:black;">Testator></li></a>
                                                    <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>

                                                    <a href="@Url.Action("AddBeneficiaryInstituteIndex","AddBeneficiaryInstitute")">
                                                        <li style="color:black;">Institution ></li>
                                                    </a>
                                                    <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:;">Beneficiary ></li></a>
                                                    <li style="color:#e1e1e1;">AssetInformation ></li>
                                                    <li style="color:#e1e1e1;">Liabilites></li>
                                                    <li style="color:#e1e1e1;">PetCare ></li>
                                                    <li style="color:#e1e1e1">Mapping ></li>
                                                    <li style="color:#e1e1e1">Nominee ></li>
                                                    <li style="color:#e1e1e1">Executor > </li>
                                                    <li style="color:#e1e1e1">Witness > </li>
                                                    <li style="color:#e1e1e1">Document</li>

                                                </ul>
                                            </h5>
                                        }
                                        else
                                        {
                                            <h5>
                                                <ul id="menu" style="font-weight:bold;">


                                                    <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["testatorID"]) })"><li style="color:black;">Testator></li></a>
                                                    <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                                    <a href="@Url.Action("AddBeneficiaryInstituteIndex","AddBeneficiaryInstitute")">
                                                        <li style="color:black;">Institution ></li>
                                                    </a>
                                                    <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:;">Beneficiary ></li></a>
                                                    <li style="color:#e1e1e1;">AssetInformation ></li>
                                                    <li style="color:#e1e1e1;">Liabilites></li>
                                                    <li style="color:#e1e1e1;">PetCare ></li>
                                                    <li style="color:#e1e1e1">Mapping ></li>
                                                    @*<li style="color:#e1e1e1">Nominee ></li>*@
                                                    <li style="color:#e1e1e1">Executor > </li>
                                                    <li style="color:#e1e1e1">Witness > </li>
                                                    <li style="color:#e1e1e1">Document</li>



                                                </ul>
                                            </h5>
                                        }

                                    }
                                }
                                else
                                {

                                    if (!Response.IsRequestBeingRedirected)
                                    {
                                        Response.Redirect("/LoginPage/LoginPageIndex");
                                    }



                                }
                            }
                        }




                        <br />



                        @if (Session["doctype"] != null || Session["testatorID"] != null)
                        {
                            if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            {


                                <div class="row">

                                    <div class="col-sm-5" id="btneditmsg" style="display:none;"> <div class="card-title text-primary"> <h6 style="color:darkred">( You Can Now Update Donee Details )</h6></div></div>
                                </div>

                            }
                            else
                            {

                                <div class="row">

                                    <div class="col-sm-5" id="btneditmsg" style="display:none;"> <div class="card-title text-primary"> <h6 style="color:darkred">( You Can Now Update Beneficiary Details )</h6></div></div>
                                </div>

                            }
                        }
                        else
                        {
                            if (!Response.IsRequestBeingRedirected)
                            {
                                Response.Redirect("/LoginPage/LoginPageIndex");
                            }
                        }

                        <div style="float:right;">
                            <input type="button" style="display:none;" id="btnmore" name="name" value="Add More" class="btn btn-danger" /><a href="@Url.Action("EditBeneficiaryIndex","EditBeneficiary")">&nbsp;&nbsp;<input type="button" style="display:none;" id="btnview" name="name" value="View" class="btn btn-success" /></a>

                        </div>
                        @using (Html.BeginForm("InsertBeneficiaryData", null, FormMethod.Post, new { id = "BeneficiaryForm" }))

                        {
                            <div class="row">
                                <div class="col-sm-1"></div><div class='col-sm-2'><label for='input-1' style="line-height:40px;"><i class="fa fa-user-circle-o  " aria-hidden="true"></i>Testator</label></div>
                                <div class='col-sm-3'>

                                    <input type="text" readonly="true" name="ddltestatorname" class="form-control" value="@Session["disttestator"].ToString()" />
                                    <input type="text" name="ddltid" id="tid" style="display:none;" value="@Session["distid"].ToString()" />






                                </div>
                                <div class="col-sm-6"><button type="button" style="display:none;" id="btnfieldedit" class="btn btn-primary shadow-primary px-5">Enable Details</button><button type="button" style="display:none;" id="btnfieldedit1" class="btn btn-primary shadow-primary px-5">Disable Details</button></div>
                            </div>

                            <hr />
                            @Html.HiddenFor(m => m.check, new { @id = "txtcheck" })

                            @Html.HiddenFor(m => m.bpId);



                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-user-circle-o  " aria-hidden="true"></i>Personal Details</label></div>



                                <div class="col-sm-3">

                                    <div class="form-group">
                                        <label for="input-1">First Name</label>
                                        <input type="hidden" id="txtcheck" value="" name="name" />
                                        @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtFirst_Name", @placeholder = "Enter First Name", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Middle Name</label>
                                        @Html.TextBoxFor(m => m.Middle_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtMiddle_Name", @placeholder = "Enter Middle Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3">
                                    <div class="form-group">

                                        <label for="input-1">Last Name</label>
                                        @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtLast_Name", @placeholder = "Enter Last Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3"></div>


                                @if (Model.Dob != null)
                                {
                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">Date Of Birth</label>
                                            <div id="datepicker01" class="input-group date" data-date-format="dd-mm-yyyy">
                                                <input class="form-control input-shadow validate[required]" type="text" id="DOB" value="@Model.Dob" name="DOB" onchange="getinputdate(this.value)" autocomplete="off" placeholder="Select Date Of Birth" readonly="true" />
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>


                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">Date Of Birth</label>
                                            <div id="datepicker01" class="input-group date" data-date-format="dd-mm-yyyy">
                                                <input class="form-control input-shadow validate[required]" type="text" id="DOB" name="DOB" onchange="getinputdate(this.value)" autocomplete="off" placeholder="Select Date Of Birth" readonly="true" />
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>


                                        </div>
                                    </div>
                                }






                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Mobile</label>
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-shadow validate[custom[Mobile],maxSize[10]] text-input", @id = "txtMobile", @placeholder = "Enter Mobile", @autocomplete = "off" })
                                    </div>
                                </div>

                                @*@if (Model.RelationshipTxt != null)
                                    {
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="input-1">Relation</label>
                                                <select id="ddlrelation" class="form-control input-shadow validate[required]">
                                                    <option value="@Model.RelationshipTxt">@Model.RelationshipTxt</option>
                                                </select>
                                                @Html.HiddenFor(m => m.RelationshipId, new { id = "relationid1" })
                                                @Html.HiddenFor(m => m.RelationshipTxt, new { id = "relationtext1" })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="input-1">Relation</label>
                                                <select id="ddlrelation" class="form-control input-shadow validate[required]"><option value="">--Select--</option></select>
                                                @Html.HiddenFor(m => m.RelationshipId, new { id = "relationid1" })
                                                @Html.HiddenFor(m => m.RelationshipTxt, new { id = "relationtext1" })
                                            </div>
                                        </div>

                                    }*@



                                @*<div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="input-3">Marital Status</label>
                                            @Html.DropDownListFor(x => x.Marital_Status, new SelectListItem[]{
                                            new SelectListItem() {Text = "--Select--", Value=""},
                                            new SelectListItem() {Text = "Married", Value="Married"},
                                            new SelectListItem() {Text = "UnMarried", Value="UnMarried"}} , new { @class= "form-control input-shadow validate[required]", @id = "ddlMarital_Status" })
                                            @Html.HiddenFor(m => m.Marital_Status_TXT, new { @id = "Marital_Status_TXT" })
                                            @Html.HiddenFor(m => m.Marital_Status_ID, new { @id = "Marital_Status_ID" })
                                        </div>
                                    </div>



                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="input-3">Religion</label>
                                            @Html.DropDownListFor(x => x.Religion, new SelectListItem[]{
                                     new SelectListItem() {Text = "--Select--", Value=""},
                                     new SelectListItem() {Text = "Buddhism", Value="Buddhism"},
                                     new SelectListItem() {Text = "Christians", Value="Christians"},
                                     new SelectListItem() {Text = "Hinduism", Value="Hinduism"},
                                     new SelectListItem() {Text = "Islam", Value="Islam"},
                                     new SelectListItem() {Text = "Jainism", Value="Jainism"},
                                     new SelectListItem() {Text = "Sikhism", Value="Sikhism"},

                                     new SelectListItem() {Text = "Zoroastrian", Value="Zoroastrian"}}, new { @class = "form-control input-shadow validate[required]", @id = "ddlReligion" })
                                            @Html.HiddenFor(m => m.Religion_txt, new { @id = "Religion_txt" })
                                            @Html.HiddenFor(m => m.Religion_id, new { @id = "Religion_id" })
                                        </div>
                                    </div>*@



                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-map-marker" aria-hidden="true"></i>Contact Details</label></div>


                                <div class="col-sm-3">

                                    <div class="form-group">

                                        <label for="input-1">Country</label>

                                        @if (Model.country_txt != null)
                                        {

                                        <select id="ddlcountry" style="display:;" class="withdatacountry form-control input-shadow validate[required]">

                                            <option value="@Model.country_txt">@Model.country_txt</option>
                                            <option value="C">--Select--</option>
                                        </select>
                                            @Html.HiddenFor(m => m.country_id, new { id = "countryid" })
                                            @Html.HiddenFor(m => m.country_txt, new { id = "countrytext" })
                                        }
                                        else
                                        {

                                            <select id="ddlcountry" style="display:;" class="form-control input-shadow validate[required]"><option value="">--Select--</option></select>
                                            @Html.HiddenFor(m => m.country_id, new { id = "countryid" })
                                            @Html.HiddenFor(m => m.country_txt, new { id = "countrytext" })
                                        }


                                    </div>
                                </div>

                                <div class="col-sm-3">

                                    <div class="form-group">

                                        <label for="input-1">State</label>

                                        @if (Model.State_txt != null)
                                        {
                                        <select id="ddlstate" class="form-control input-shadow validate[required]">
                                            <option value="@Model.State_txt">@Model.State_txt</option>
                                            <option value="S">--Select--</option>
                                        </select>
                                            @Html.HiddenFor(m => m.State_id, new { id = "stateid" })
                                            @Html.HiddenFor(m => m.State_txt, new { id = "statetext" })
                                        }
                                        else
                                        {
                                            <select id="ddlstate" class="form-control input-shadow validate[required]"><option value="">--Select--</option></select>
                                            @Html.HiddenFor(m => m.State_id, new { id = "stateid" })
                                            @Html.HiddenFor(m => m.State_txt, new { id = "statetext" })
                                        }


                                    </div>
                                </div>

                                @if (Model.City_txt != null)
                                {

                                    <div class="col-sm-3">

                                        <div class="form-group">
                                            <label for="input-1">City</label>
                                            <select id="ddlcity" class="form-control input-shadow validate[required]">
                                                <option value="Ct">--Select--</option>
                                                <option value="@Model.City_txt<">@Model.City_txt</option>
                                            </select>
                                            @Html.HiddenFor(m => m.City_id, new { id = "cityid" })
                                            @Html.HiddenFor(m => m.City_txt, new { id = "citytext" })

                                        </div>

                                    </div>

                                }
                                else
                                {
                                    <div class="col-sm-3">

                                        <div class="form-group">
                                            <label for="input-1">City</label>
                                            <select id="ddlcity" class="form-control input-shadow validate[required]">
                                                <option value="">--Select--</option>
                                            </select>
                                            @Html.HiddenFor(m => m.City_id, new { id = "cityid" })
                                            @Html.HiddenFor(m => m.City_txt, new { id = "citytext" })

                                        </div>

                                    </div>
                                }



                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Pin</label>
                                        @Html.TextBoxFor(m => m.Pin, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtPin", @placeholder = "Enter Pin", @autocomplete = "off" })
                                    </div>
                                </div>

                            </div>








                            <div class="row">


                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="input-1">Address 1</label>
                                        @Html.TextAreaFor(m => m.Address1, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtAddress1", @placeholder = "Enter Address 1", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="input-1">Address 2</label>
                                        @Html.TextAreaFor(m => m.Address2, new { @class = "form-control input-shadow  text-input", @id = "txtAddress2", @placeholder = "Enter Address 2", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="input-1">Address 3</label>
                                        @Html.TextAreaFor(m => m.Address3, new { @class = "form-control input-shadow  text-input", @id = "txtAddress3", @placeholder = "Enter Address 3", @autocomplete = "off" })
                                    </div>
                                </div>




                            </div>


                            <hr />


                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-id-card-o" aria-hidden="true"></i>Identity Proof</label></div>



                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Identity proof</label>

                                        <input type="text" name="name" id="Identity_Proof_txt" value="@Model.Identity_proof" placeholder="--Select Identity Proof--" class="form-control input-shadow validate[required]" onfocus="firstidentity()" />

                                        @Html.DropDownListFor(x => x.Identity_proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                   new SelectListItem() {Text = "Passport", Value="Passport"},
                                   new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                   new SelectListItem() {Text = "Pan Card", Value="Pan Card"}} , new { @class= "form-control input-shadow validate[required]", @id="altddlidentityproof" , @style="display:none" ,  @onchange= "getIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                      
                                    </div>
                                </div>
                                <script>

                                    function firstidentity() {

                                        $("#Identity_Proof_txt").hide();
                                        $("#altddlidentityproof").show();

                                    }

                                </script>




                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Identity proof Value</label>
                                        <div id="appendtxt"> @Html.TextBoxFor(m => m.Identity_proof_value, new { @class = "form-control input-shadow validate[required] text-input", @onchange = "validateidentity(this.value)", @id = "txtIdentityProofValue",  @onfocus="txtfirst()" , @placeholder = "Enter Identity Proof Value", @autocomplete = "off", @readonly = "true" })  </div>
                                        <span id="lblidentityproof" style="color:red; display:none;">*Identity Proof Already Entered</span>

                                    </div>
                                </div>




                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Alt Identity proof</label>
                                        @Html.DropDownListFor(x => x.Alt_Identity_proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                   new SelectListItem() {Text = "Passport", Value="Passport"},
                                   new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                   new SelectListItem() {Text = "Pan Card", Value="Pan Card"}}, new { @class= "form-control input-shadow", @id="ddlidentityproof22", @onchange= "AltIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                        @*@Html.HiddenFor(m => m.Alt_Identity_proof, new { id = "Alt_Identity_proof" })*@
                                    </div>
                                </div>


                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Alt Identity proof Value</label>
                                        <div id="appendtxt2"> @Html.TextBoxFor(m => m.Alt_Identity_proof_value, new { @class = "form-control input-shadow  text-input", @id = "txtIdentityProofValue22", @onchange = "Altvalidateidentity(this.value)", @placeholder = "Enter Identity Proof Value", @autocomplete = "off", @readonly = "true" ,  @onfocus = "txtSecond()" }) </div>
                                        <span id="altlblidentityproof" style="color:red; display:none;">*Alt Identity Proof Already Entered</span>

                                    </div>
                                </div>






                            </div>



                            @*<div class="row">
                                        <div class="col-sm-1"></div>

                                        @if (Session["doctype"] != null)
                                        {
                                            if (Session["doctype"].ToString() == "Will")
                                            {
                                                <div class="col-sm-2"> <label for="input-1" style="white-space:nowrap;">Add Alternate Beneficiary</label></div>


                                                <div class="col-sm-6" id="showcompany">

                                                    <div class="form-group">

                                                        <br />
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" value="Yes" class="radio validate[required] altone" name="radio1">Yes
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" value="No" class="radio validate[required] alttwo" name="radio1">No
                                                        </label>



                                                    </div>
                                                </div>
                                            }
                                        }



                                    </div>




                                <hr style="border:1px solid black; border-color:lightgray">




                                <div class="altbeneficiaryclass" style="display:none;">


                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2"> <label for="input-1"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Personal Details</label></div>



                                        <div class="col-sm-3">

                                            <div class="form-group">
                                                @Html.HiddenFor(m => m.altbpId)
                                                <label for="input-1">First Name</label>
                                                @Html.TextBoxFor(m => m.altFirst_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "altfirstname", @placeholder = "Enter First Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                            </div>
                                        </div>


                                        <div class="col-sm-3">

                                            <div class="form-group">
                                                <label for="input-1">Middle Name</label>

                                                @Html.TextBoxFor(m => m.altMiddle_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "altmiddlename", @placeholder = "Enter Middle Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                            </div>
                                        </div>

                                        <div class="col-sm-3">

                                            <div class="form-group">
                                                <label for="input-1">Last Name</label>

                                                @Html.TextBoxFor(m => m.altLast_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "altlastname", @placeholder = "Enter Last Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-3">


                                            @if (Model.altDob != null)
                                            {
                                                <div class="form-group">

                                                    <label for="input-1">Date Of Birth</label>
                                                    <div id="datepicker02" class="input-group date" data-date-format="dd-mm-yyyy">
                                                        <input class="form-control input-shadow validate[required]" type="text" value="@Model.altDob" id="DOB" name="altDob" autocomplete="off" placeholder="Select Date Of Birth" />
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>

                                                    <span style="color:red; display:none;" id="datemsg2">Invalid Date Of Birth</span>
                                                </div>
                                            }
                                            else
                                            {

                                                <div class="form-group">

                                                    <label for="input-1">Date Of Birth</label>
                                                    <div id="datepicker02" class="input-group date" data-date-format="dd-mm-yyyy">
                                                        <input class="form-control input-shadow validate[required]" type="text" id="DOB" name="altDob" autocomplete="off" placeholder="Select Date Of Birth" />
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>

                                                    <span style="color:red; display:none;" id="datemsg2">Invalid Date Of Birth</span>
                                                </div>
                                            }






                                        </div>


                                        <div class="col-sm-3">

                                            <div class="form-group">
                                                <label for="input-1">Mobile</label>

                                                @Html.TextBoxFor(m => m.altMobile, new { @class = "form-control input-shadow validate[required] text-input", @id = "altmobile", @placeholder = "Enter Mobile", @autocomplete = "off", alert = "LabourCost is requried" })
                                            </div>
                                        </div>








                                    </div>


                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2"> <label for="input-1"><i class="fa fa-map-marker" aria-hidden="true"></i>Contact Details</label></div>


                                        @if (Model.altstatetext != null)
                                        {
                                            <div class="col-sm-3">

                                                <div class="form-group">

                                                    <label for="input-1">State</label>
                                                    <select id="altddlstate" class="form-control input-shadow validate[required]">
                                                        <option value="@Model.altstatetext">@Model.altstatetext</option>
                                                    </select>
                                                    @Html.HiddenFor(m => m.altstateid, new { id = "altstateid" })
                                                    @Html.HiddenFor(m => m.altstatetext, new { id = "altstatetext" })
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-3">

                                                <div class="form-group">

                                                    <label for="input-1">State</label>
                                                    <select id="altddlstate" class="form-control input-shadow validate[required]">
                                                        <option value="">--Select State--</option>
                                                    </select>
                                                    @Html.HiddenFor(m => m.altstateid, new { id = "altstateid" })
                                                    @Html.HiddenFor(m => m.altstatetext, new { id = "altstatetext" })
                                                </div>
                                            </div>
                                        }






                                        @if (Model.altcitytext != null)
                                        {
                                            <div class="col-sm-3">

                                                <div class="form-group">
                                                    <label for="input-1">City</label>
                                                    <select id="altddlcity" class="form-control input-shadow validate[required]">
                                                        <option value="@Model.altcitytext">@Model.altcitytext</option>
                                                    </select>
                                                    @Html.HiddenFor(m => m.altcityid, new { id = "altcityid" })
                                                    @Html.HiddenFor(m => m.altcitytext, new { id = "altcitytext" })

                                                </div>

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-3">

                                                <div class="form-group">
                                                    <label for="input-1">City</label>
                                                    <select id="altddlcity" class="form-control input-shadow validate[required]">
                                                        <option value="">--Select City--</option>
                                                    </select>
                                                    @Html.HiddenFor(m => m.altcityid, new { id = "altcityid" })
                                                    @Html.HiddenFor(m => m.altcitytext, new { id = "altcitytext" })

                                                </div>

                                            </div>
                                        }




                                        <div class="col-sm-3">

                                            <div class="form-group">

                                                <label for="input-1">Pin</label>
                                                @Html.TextBoxFor(m => m.altPin, new { @class = "form-control input-shadow validate[required] text-input", @id = "altpin", @placeholder = "Enter Pin", @autocomplete = "off", alert = "LabourCost is requried" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">

                                            <div class="form-group">

                                                <label for="input-1">Address 1</label>
                                                @Html.TextAreaFor(m => m.altAddress1, new { @class = "form-control input-shadow validate[required] text-input", @id = "altaddress1", @placeholder = "Enter Address 1", @autocomplete = "off", alert = "LabourCost is requried" })
                                            </div>
                                        </div>


                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">

                                            <div class="form-group">

                                                <label for="input-1">Address 2</label>
                                                @Html.TextAreaFor(m => m.altAddress2, new { @class = "form-control input-shadow text-input", @id = "altaddress2", @placeholder = "Enter Address 2", @autocomplete = "off", alert = "LabourCost is requried" })
                                            </div>
                                        </div>


                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">

                                            <div class="form-group">
                                                <label for="input-1">Address 3</label>

                                                @Html.TextAreaFor(m => m.altAddress3, new { @class = "form-control input-shadow  text-input", @id = "altaddress3", @placeholder = "Enter Address 3", @autocomplete = "off", alert = "LabourCost is requried" })
                                            </div>
                                        </div>

                                    </div>

                                    <hr />


                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2"> <label for="input-1"><i class="fa fa-id-card-o" aria-hidden="true"></i>Identity Proof</label></div>



                                        <div class="col-sm-3">

                                            <div class="form-group">

                                                <label for="input-1">Identity Proof</label>
                                                @Html.DropDownListFor(x => x.altIdentity_Proof, new SelectListItem[]{
                                           new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                           new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                           new SelectListItem() {Text = "Passport", Value="Passport"},
                                           new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                           new SelectListItem() {Text = "Pan Card", Value="Pan Card"}}, new { @class= "form-control input-shadow validate[required]", @id="seconddl" , @onchange= "altgetIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                            </div>
                                        </div>


                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="input-1">Identity Proof Value</label>
                                                <div id="altappendtxt"> @Html.TextBoxFor(m => m.altIdentity_Proof_Value, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtidentityproof", @placeholder = "Enter Identity Proof Number", @autocomplete = "off", @readonly = "true" })</div>


                                            </div>
                                        </div>



                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="input-1">Alt Identity Proof</label>
                                                @Html.DropDownListFor(x => x.altAlt_Identity_Proof, new SelectListItem[]{
                                           new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                           new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                           new SelectListItem() {Text = "Passport", Value="Passport"},
                                           new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                           new SelectListItem() {Text = "Pan Card", Value="Pan Card"}}, new { @class= "form-control input-shadow ", @id="altddlidentityproof1" , @onchange= "altgetAltIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                                @Html.HiddenFor(m => m.altAlt_Identity_Proof, new { id = "altAlt_Identity_Proof" })
                                            </div>
                                        </div>


                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="input-1">Alt Identity Proof Value</label>
                                                <div id="altappendtxt2">  @Html.TextBoxFor(m => m.Alt_Identity_proof_value, new { @class = "form-control input-shadow  text-input", @id = "alttxtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off", @readonly = "true" }) </div>


                                            </div>
                                        </div>

                                    </div>












                                </div>*@













                            //if (Session["doctype"] != null)
                            //{
                            //    if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            //    {
                            <div class="form-group" style="float:right">
                                <button type="submit" id="btnBeneficiaryformsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Submit</button>
                                <button type="submit" id="btnupdate" style="display:none;" formaction="updateBeneficiary" class="btn btn-success shadow-primary px-5"><i class="icon-lock"></i>Update</button>
                                <input type="button" style="display:none;" id="btnmore2" name="name" value="Add More" class="btn btn-danger" />
                                <input type="button" id="btnbenecheck" style="display:none;" name="name" value="" />

                                @if (Session["WillType"] != null && Session["doctype"] != null)
                                {

                                    if (Session["doctype"].ToString() == "GiftDeeds")
                                    {
                                        <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><button type="button" id="btnnext" style="display:" class="btn btn-success shadow-primary px-5">Skip&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>

                                    }

                                    if (Session["doctype"].ToString() == "POA")
                                    {
                                        <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><button type="button" id="btnnext" style="display:" class="btn btn-success shadow-primary px-5">Skip&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>

                                    }




                                    if (Session["doctype"].ToString() == "Will" && Session["WillType"].ToString() == "Quick")
                                    {

                                        <a href="@Url.Action("CheckBeneficiaryCount","AddBeneficiary")"><button type="button" id="btnnext" style="display:" class="btn btn-success shadow-primary px-5">Skip&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>

                                    }
                                    if (Session["doctype"].ToString() == "Will" && Session["WillType"].ToString() == "Detailed")
                                    {
                                        <a href="@Url.Action("CheckBeneficiaryCount","AddBeneficiary")"><button type="button" id="btnnext" style="display:" class="btn btn-success shadow-primary px-5">Skip&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    }





                                }






                            </div>
                            @*}
                                    else
                                    {
                                        <div class="form-group" style="float:right">
                                            <button type="submit" id="btnBeneficiaryformsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Add Beneficiary</button>
                                            <button type="submit" id="btnupdatewill" style="display:none;" formaction="updatetestatorfamily" class="btn btn-success shadow-primary px-5 btnwillup"><i class="icon-lock"></i>Update</button>
                                            <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><button type="button" id="btnnext" style="display:none" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (!Response.IsRequestBeingRedirected)
                                    {
                                        Response.Redirect("/LoginPage/LoginPageIndex");
                                    }
                                }*@





                        }
                    </div>
                </div>
            </div>


        </div>
        <button type="button" id="btnBeneficiarySUCESS" style="display:none;"></button>
        <button type="button" id="Beneficiarylinkcheck" style="display:none;"></button>
        <button type="button" id="btncheckExists" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        @*<button type="button" style="display:none;" id="confirmtestatorfamily"></button>*@

    </div>


</div>
@*end*@






<script>



    function txtfirst() {

        $("#lblidentityproof").hide();
    }




    function txtsecond() {

        $("#altlblidentityproof").hide();
    }





    function getinputdate(value) {

        if (value != "") {
            $('#DOB').validationEngine('hide');
        }


    }


    $(document).ready(function () {



        if ($("#txtAddress2").val() == "None") {

            $("#txtAddress2").val("")
        }

        if ($("#txtAddress3").val() == "None") {

            $("#txtAddress3").val("")
        }



        $('#altddlidentityproof option[value=""]').attr("selected", true);

            var statedata = $(".withdatacountry").val();

            if (statedata != null) {
                            $.ajax({

            type: "POST",
            url: "@Url.Action("Onnamebindguacity", "AddBeneficiary")",
                                data: { "send": "" + statedata+  ""},
            success: function (data) {

                $('#ddlstate').append(data);
            }



        });
            }




        $.ajax({

            type: "POST",
            url:"@Url.Action("BindCountryDDL", "AddBeneficiary")",
            success: function (data) {

                $('#ddlcountry').append(data);
            }
        });


    });

    function validateDOB2(value) {



        var today = new Date();
        var birthDate = new Date(value);
        var age = today.getFullYear() - birthDate.getFullYear();

        if (age > 18) {
            $("#datemsg2").hide();
        }
        else {
            $("#datemsg2").show();
        }



    }



    //function validateDOB(value) {



    //    var today = new Date();
    //    var birthDate = new Date(value);
    //    var age = today.getFullYear() - birthDate.getFullYear();

    //    if (age > 18) {
    //        $("#datemsg").hide();
    //    }
    //    else {
    //        $("#datemsg").show();
    //    }



    //}



        $("#ddlMarital_Status").change(function () {
        var value = $(this).children(":selected").attr("value");
            var text = $("#ddlMarital_Status option:selected").html();

            $("#Marital_Status_TXT").val(text);
            $("#Marital_Status_ID").val(value);
    });



    $("#altddlMarital_Status").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlMarital_Status option:selected").html();

        $("#altMarital_Status_TXT").val(text);
        $("#altMarital_Status_ID").val(value);


    });



        $("#ddlReligion").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlReligion option:selected").html();

            $("#Religion_txt").val(text);
            $("#Religion_id").val(value);
    });


    function alternatereligtion(value) {

        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlReligion option:selected").html();

        $("#altReligion_TXT").val(text);
        $("#altReligion_ID").val(value);


    }






        $("#DDLIdentity_proof").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#DDLIdentity_proof option:selected").html();

            $("#Identity_proof_txt").val(text);
            $("#Identity_proof_id").val(value);
        });




    $(document).ready(function () {




         var val = $("#tid").val();
        var checkstatus =  $("#txtcheck").val();

             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddBeneficiary")",
                 data: { value: val, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {

                    $("#confirmtestatorfamily").on("click", function () { });

                    $("#confirmtestatorfamily").click();

                    $("#btnnext").show();

                }







            }
        });







        @*$.ajax({

            type: "POST",
            url:"@Url.Action("BindStateDDL", "AddBeneficiary")",
            success: function (data) {
                $('#ddlstate').append(data);
            }
        });*@




           $.ajax({

            type: "POST",
            url:"@Url.Action("BindTestatorDDL", "AddBeneficiary")",
                  success: function (data) {
                      var splitted = data.split("~");
                      $("#DDLTestator").append(splitted[0]);
                      $("#ddltid").val(splitted[1]);
                      var pop = splitted[2];
                      //$('#DDLTestator').append(data);
                      if (pop == "true") {

                          //$("#confirmtestatorfamily").on("click", function () { });

                          //$("#confirmtestatorfamily").click(); //trigger event after listening to it.
                      }





            }
          });






    });




        $("#ddlcountry").change(function () {
        var value = $(this).children(":selected").attr("value");
            var text = $("#ddlcountry option:selected").html();

        $("#countrytext").val(text);
        $("#countryid").val(value);


        $.ajax({

            type: "post",
            url: "@Url.Action("bindstateddl", "addbeneficiary")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlstate').empty().append(data);
            }



        });



    });



    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddBeneficiary")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').empty().append(data);
            }



        });



    });




    $("#ddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlcity option:selected").html();

        $("#citytext").val(text);
        $("#cityid").val(value);


    });

</script>


<script>
    $(document).ready(function () {
        $("#BeneficiaryForm").validationEngine();
    });
</script>



@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {
            $("#btnBeneficiarySUCESS").on("click", function () { });

            $("#btnBeneficiarySUCESS").click(); //trigger event after listening to it.

            
          
   
        });



    </script>

}



@if (ViewBag.Message == "link")
{
    <script>

        $(document).ready(function () {
            $("#Beneficiarylinkcheck").on("click", function () { });

            $("#Beneficiarylinkcheck").click(); //trigger event after listening to it.

        });
    </script>

}

<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRelationDDL", "AddBeneficiary")",
            success: function (data) {
                $('#ddlrelation').append(data);

            }
        });


    });


        $("#ddlrelation").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlrelation option:selected").html();

            $("#relationtext1").val(text);
            $("#relationid1").val(value);


        });

</script>



@*validation script*@
<script>
    function getIdentityselection(id) {

        $("#Identity_Proof_txt").val(id);
        $("#ddlidentityproof22 option:disabled").removeAttr('disabled');

        if (id == "Aadhaar Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[adharCard]] text-input' onchange='validateidentity(this.value)' id='Identity_proof_value' name='Identity_proof_value' placeholder='Enter Aadhaar Card' autocomplete='off' , onfocus='txtfirst()'  />");
        }


        if (id == "Passport") {
            $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[Passport]] text-input' onchange='validateidentity(this.value)' id='Identity_proof_value' name='Identity_proof_value'  placeholder='Enter Passport Number' autocomplete='off' , onfocus='txtfirst()' />");
        }



        if (id == "Driving Licences") {
            $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[carnumber]] text-input' onchange='validateidentity(this.value)' id='Identity_proof_value' name='Identity_proof_value' placeholder='Enter Driving Licences' autocomplete='off' , onfocus='txtfirst()' />");
        }



        if (id == "Pan Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[pannumber]] text-input' onchange='validateidentity(this.value)' id='Identity_proof_value' name='Identity_proof_value' placeholder='Enter Pan Card' autocomplete='off' , onfocus='txtfirst()'  />");
        }


        var previousid = id;




        $("#ddlidentityproof22").find("option[value='" + previousid + "']").attr("disabled", "disabled");


    }
</script>



<script>
    function AltIdentityselection(id) {

        $("#Alt_Identity_proof").val(id);


        if (id == "Aadhaar Card") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[adharCard]] text-input'  onchange='Altvalidateidentity(this.value)' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off' , onfocus='txtsecond()'  />");
        }


        if (id == "Passport") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[Passport]] text-input'   onchange='Altvalidateidentity(this.value)' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value'  placeholder='Enter Passport Number' autocomplete='off' , onfocus='txtsecond()' />");
        }



        if (id == "Driving Licences") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[carnumber]] text-input'  onchange='Altvalidateidentity(this.value)'  id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Driving Licences' autocomplete='off' , onfocus='txtsecond()'  />");
        }



        if (id == "Pan Card") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[pannumber]] text-input' onchange='Altvalidateidentity(this.value)' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Pan Card' autocomplete='off' , onfocus='txtsecond()'  />");
        }


    }




    function getDDLTestator(value) {
        //var value = $(this).children(":selected").attr("value");
        var text = $("#DDLTestator option:selected").html();





        $("#ddltestatorname").val(text);
        $("#ddltid").val(value);
        var checkstatus = $("#txtcheck").val();
             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddBeneficiary")",
                 data: { value: value, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {
                    $("#confirmtestatorfamily").on("click", function () { });
                    $("#confirmtestatorfamily").click(); //trigger event after listening to it.




                }







            }
        });





    };








    $('.radio').on('change', function () {

        $('.radio').not(this).prop('checked', false);
        var val = $("input[name=radio1]:checked").val()

        if (val == "Yes") {

            $("#showcompany").removeAttr("style");
            $(".altbeneficiaryclass").removeAttr("style");
            $("#txtcheck").val("true");

        }

        if (val == "No") {

            $(".altbeneficiaryclass").css("display", "none");
            $("#txtcheck").val("false");

        }


    });

</script>


@*end*@






@*script for alternate beneficiary*@



<script>

    $(document).ready(function () {



        if ($("#txtIdentityProofValue22").val() == "None") {
            $("#txtIdentityProofValue22").val("")
        }





        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRelationDDL", "AddBeneficiary")",
            success: function (data) {
                $('#altddlrelation').append(data);
            }
        });



          @*$.ajax({

            type: "POST",
            url:"@Url.Action("BindStateDDL", "AddBeneficiary")",
            success: function (data) {
                $('#altddlstate').append(data);
            }
        });*@






    });









    $("#altddlrelation").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlrelation option:selected").html();

        $("#altRelationshipTxt").val(text);
        $("#altRelationshipId").val(value);


    });








    $("#altddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlstate option:selected").html();

        $("#altstatetext").val(text);
        $("#altstateid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddBeneficiary")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#altddlcity').append(data);
            }



        });



    });




    $("#altddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlcity option:selected").html();

        $("#altcitytext").val(text);
        $("#altcityid").val(value);


    });




     $("#confirmtestatorfamily").click(function () {
         $("#btnnext").show();
        swal({

            text: 'Your Beneficiary Data Submitted Successfully Do You Want To Add More ?',
            icon: 'warning',
            buttons: true,
            dangerMode: true,
            buttons: ['No', 'Yes']
        })
            .then((willDelete) => {
                if (willDelete) {



                } else {





                    var url = "/AddMainAssets/AddMainAssetsIndex/";
                        window.location.href = url;




                }
            });

    });





</script>




















<script>
    function altgetIdentityselection(id) {

        $("#altddlidentityproof1 option:disabled").removeAttr('disabled');

        if (id == "Aadhaar Card") {
            $("#altappendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[adharCard]] text-input' id='altIdentity_Proof_Value' name='altIdentity_Proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#altappendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[Passport]] text-input' id='altIdentity_Proof_Value' name='altIdentity_Proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#altappendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[carnumber]] text-input' id='altIdentity_Proof_Value' name='altIdentity_Proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#altappendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[pannumber]] text-input' id='altIdentity_Proof_Value' name='altIdentity_Proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }



        var previousid = id;




        $("#altddlidentityproof1").find("option[value='" + previousid + "']").attr("disabled", "disabled");


    }
</script>



<script>
    function altgetAltIdentityselection(id) {

        $("#altAlt_Identity_Proof").val(id);


        if (id == "Aadhaar Card") {
            $("#altappendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[adharCard]] text-input' id='altAlt_Identity_Proof_Value'  onchange='Altvalidateidentity(this.value)' name='altAlt_Identity_Proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#altappendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[Passport]] text-input' id='altAlt_Identity_Proof_Value'   onchange='Altvalidateidentity(this.value)' name='altAlt_Identity_Proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#altappendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[carnumber]] text-input' id='altAlt_Identity_Proof_Value'  onchange='Altvalidateidentity(this.value)' name='altAlt_Identity_Proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#altappendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[pannumber]] text-input' id='altAlt_Identity_Proof_Value'  onchange='Altvalidateidentity(this.value)' name='altAlt_Identity_Proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }


    }
</script>



<script>
    $(function () {

        //var now = new Date();
        //var sDate = new Date(now.getFullYear() - 18, now.getMonth(), 1);



        //var endDate = new Date(sDate.getFullYear + '-' + sDate.getMonth() + '-' + sDate.getDay());
        //var startDate = new Date('1930-01-01');

        $('#datepicker01').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            orientation: "top",
            endDate: "today"
        });
    });

    $(function () {

        var now = new Date();
        var sDate = new Date(now.getFullYear() - 18, now.getMonth(), 1);



        var endDate = new Date(sDate.getFullYear + '-' + sDate.getMonth() + '-' + sDate.getDay());
        var startDate = new Date('1930-01-01');

        $('#datepicker02').datepicker({
            //other option
            startDate: startDate, //set start date
            endDate: sDate //set end date
        });
    });



    $('.radio1').on('change', function () {
        if (!$(this).is(':checked')) {
            $('.radio1').prop('checked', false);
            $("#txtcheck").val("false");

        } else {
            $('.radio1').prop('checked', true);
            $("#txtcheck").val("true");
        }
    });
</script>

@*end*@



@if (ViewBag.disablefield == "true")
{
    <script>

        $("#btnmore").show();
        $("#btnmore2").show();

        $("#btnfieldedit").show();

        $("#btnBeneficiaryformsubmit").hide();




        $("#btnmore").show();
        $("#btnview").show();

        $(document).ready(function () {

            $("#btnnext").html('Next');

            $("#txtFirst_Name").attr("disabled", "disabled");
            $("#txtMiddle_Name").attr("disabled", "disabled");
            $("#txtLast_Name").attr("disabled", "disabled");
            $("#DOB").attr("disabled", "disabled");
            $("#txtMobile").attr("disabled", "disabled");
            $("#ddlrelation").attr("disabled", "disabled");
            $("#ddlstate").attr("disabled", "disabled");
            $("#ddlcity").attr("disabled", "disabled");
            $("#txtPin").attr("disabled", "disabled");
            $("#txtAddress1").attr("disabled", "disabled");
            $("#txtAddress2").attr("disabled", "disabled");
            $("#txtAddress3").attr("disabled", "disabled");
            $("#altddlidentityproof").attr("disabled", "disabled");
            $("#txtIdentityProofValue").attr("disabled", "disabled");
            $("#ddlidentityproof22").attr("disabled", "disabled");
            $("#txtIdentityProofValue22").attr("disabled", "disabled");
            $("#ddlcountry").attr("disabled", "disabled");


            $("#altfirstname").attr("disabled", "disabled");
            $("#altmiddlename").attr("disabled", "disabled");
            $("#altlastname").attr("disabled", "disabled");
            $("#DOB").attr("disabled", "disabled");
            $("#altmobile").attr("disabled", "disabled");
            $("#altddlrelation").attr("disabled", "disabled");
            $("#altddlstate").attr("disabled", "disabled");
            $("#altddlcity").attr("disabled", "disabled");
            $("#altpin").attr("disabled", "disabled");
            $("#altaddress1").attr("disabled", "disabled");
            $("#altaddress2").attr("disabled", "disabled");
            $("#altaddress3").attr("disabled", "disabled");
            $("#seconddl").attr("disabled", "disabled");
            $("#txtidentityproof").attr("disabled", "disabled");
            $("#altddlidentityproof1").attr("disabled", "disabled");
            $("#alttxtIdentityProofValue").attr("disabled", "disabled");

            $("#Identity_Proof_txt").attr("disabled", "disabled");

        });


    </script>
}


<script>


    $("#btnfieldedit").click(function () {


        $("#btnfieldedit1").show();
        $("#btnfieldedit").hide();

        $("#btnupdate").show();


        $("#txtFirst_Name").removeAttr("disabled");
        $("#txtMiddle_Name").removeAttr("disabled");
        $("#txtLast_Name").removeAttr("disabled");
        $("#DOB").removeAttr("disabled");
        $("#txtMobile").removeAttr("disabled");
        $("#ddlrelation").removeAttr("disabled");
        $("#ddlstate").removeAttr("disabled");
        $("#ddlcity").removeAttr("disabled");
        $("#txtPin").removeAttr("disabled");
        $("#txtAddress1").removeAttr("disabled");
        $("#txtAddress2").removeAttr("disabled");
        $("#txtAddress3").removeAttr("disabled");
        $("#altddlidentityproof").removeAttr("disabled");
        $("#txtIdentityProofValue").removeAttr("disabled");
        $("#ddlidentityproof22").removeAttr("disabled");
        $("#txtIdentityProofValue22").removeAttr("disabled");
        $("#ddlcountry").removeAttr("disabled");



        $("#altfirstname").removeAttr("disabled");
        $("#altmiddlename").removeAttr("disabled");
        $("#altlastname").removeAttr("disabled");
        $("#DOB").removeAttr("disabled");
        $("#altmobile").removeAttr("disabled");
        $("#altddlrelation").removeAttr("disabled");
        $("#altddlstate").removeAttr("disabled");
        $("#altddlcity").removeAttr("disabled");
        $("#altpin").removeAttr("disabled");
        $("#altaddress1").removeAttr("disabled");
        $("#altaddress2").removeAttr("disabled");
        $("#altaddress3").removeAttr("disabled");
        $("#seconddl").removeAttr("disabled");
        $("#txtidentityproof").removeAttr("disabled");
        $("#altddlidentityproof1").removeAttr("disabled");
        $("#alttxtIdentityProofValue").removeAttr("disabled");

        $("#Identity_Proof_txt").removeAttr("disabled");

        $("#btneditmsg").show();

    });


</script>


<script>

    $("#btnfieldedit1").click(function () {


        $("#btnfieldedit").show();
        $("#btnfieldedit1").hide();
        $("#btneditmsg").hide();
        $("#btnupdate").hide();

        $("#ddlcountry").attr("disabled", "disabled");
        $("#txtFirst_Name").attr("disabled", "disabled");
        $("#txtMiddle_Name").attr("disabled", "disabled");
        $("#txtLast_Name").attr("disabled", "disabled");
        $("#DOB").attr("disabled", "disabled");
        $("#txtMobile").attr("disabled", "disabled");
        $("#ddlrelation").attr("disabled", "disabled");
        $("#ddlstate").attr("disabled", "disabled");
        $("#ddlcity").attr("disabled", "disabled");
        $("#txtPin").attr("disabled", "disabled");
        $("#txtAddress1").attr("disabled", "disabled");
        $("#txtAddress2").attr("disabled", "disabled");
        $("#txtAddress3").attr("disabled", "disabled");
        $("#altddlidentityproof").attr("disabled", "disabled");
        $("#txtIdentityProofValue").attr("disabled", "disabled");
        $("#ddlidentityproof22").attr("disabled", "disabled");
        $("#txtIdentityProofValue22").attr("disabled", "disabled");


        $("#altfirstname").attr("disabled", "disabled");
        $("#altmiddlename").attr("disabled", "disabled");
        $("#altlastname").attr("disabled", "disabled");
        $("#DOB").attr("disabled", "disabled");
        $("#altmobile").attr("disabled", "disabled");
        $("#altddlrelation").attr("disabled", "disabled");
        $("#altddlstate").attr("disabled", "disabled");
        $("#altddlcity").attr("disabled", "disabled");
        $("#altpin").attr("disabled", "disabled");
        $("#altaddress1").attr("disabled", "disabled");
        $("#altaddress2").attr("disabled", "disabled");
        $("#altaddress3").attr("disabled", "disabled");
        $("#seconddl").attr("disabled", "disabled");
        $("#txtidentityproof").attr("disabled", "disabled");
        $("#altddlidentityproof1").attr("disabled", "disabled");
        $("#alttxtIdentityProofValue").attr("disabled", "disabled");
        $("#Identity_Proof_txt").attr("disabled", "disabled");
        

    });
</script>



<script>

    $("#btnmore").click(function () {


        $('#ddlcountry').val('C').trigger('change');
        $('#ddlstate').val('S').trigger('change');
        $('#ddlcity').val('Ct').trigger('change');


        $("#btnupdate").hide();

        $("#btnBeneficiaryformsubmit").show();



        $("#btnfieldedit").hide();
        $("#btneditmsg").hide();
        
        $("#txtFirst_Name").removeAttr("disabled");
        $("#txtMiddle_Name").removeAttr("disabled");
        $("#txtLast_Name").removeAttr("disabled");
        $("#DOB").removeAttr("disabled");
        $("#txtMobile").removeAttr("disabled");
        $("#ddlrelation").removeAttr("disabled");
        $("#ddlstate").removeAttr("disabled");
        $("#ddlcity").removeAttr("disabled");
        $("#txtPin").removeAttr("disabled");
        $("#txtAddress1").removeAttr("disabled");
        $("#txtAddress2").removeAttr("disabled");
        $("#txtAddress3").removeAttr("disabled");
        $("#altddlidentityproof").removeAttr("disabled");
        $("#txtIdentityProofValue").removeAttr("disabled");
        $("#ddlidentityproof22").removeAttr("disabled");
        $("#txtIdentityProofValue22").removeAttr("disabled");
        $("#ddlcountry").removeAttr("disabled");

        $("#Identity_Proof_txt").removeAttr("disabled");

                
        $("#Identity_Proof_txt").val("");
        $("#altfirstname").removeAttr("disabled");
        $("#altmiddlename").removeAttr("disabled");
        $("#altlastname").removeAttr("disabled");
        $("#DOB").removeAttr("disabled");
        $("#altmobile").removeAttr("disabled");
        $("#altddlrelation").removeAttr("disabled");
        $("#altddlstate").removeAttr("disabled");
        $("#altddlcity").removeAttr("disabled");
        $("#altpin").removeAttr("disabled");
        $("#altaddress1").removeAttr("disabled");
        $("#altaddress2").removeAttr("disabled");
        $("#altaddress3").removeAttr("disabled");
        $("#seconddl").removeAttr("disabled");
        $("#txtidentityproof").removeAttr("disabled");
        $("#altddlidentityproof1").removeAttr("disabled");
        $("#alttxtIdentityProofValue").removeAttr("disabled");








        $("#txtFirst_Name").val("");
        $("#txtMiddle_Name").val("");
        $("#txtLast_Name").val("");
        $("#DOB").val("");
        $("#txtMobile").val("");


        $("#txtPin").val("");
        $("#txtAddress1").val("");
        $("#txtAddress2").val("");
        $("#txtAddress3").val("");
        $("#altddlidentityproof").val("");
        $("#txtIdentityProofValue").val("");
        $("#ddlidentityproof22").val("");
        $("#txtIdentityProofValue22").val("");


        $("#altfirstname").val("");
        $("#altmiddlename").val("");
        $("#altlastname").val("");
        $("#DOB").val("");
        $("#altmobile").val("");


        $("#altpin").val("");
        $("#altaddress1").val("");
        $("#altaddress2").val("");
        $("#altaddress3").val("");
        $("#seconddl").val("");
        $("#txtidentityproof").val("");
        $("#altddlidentityproof1").val("");
        $("#alttxtIdentityProofValue").val("");
        $("#alttxtIdentityProofValue").val("");
        $(".altone").prop('checked', false);
        $(".altbeneficiaryclass").hide();

    });




    $("#btnmore2").click(function () {

        $('#ddlcountry').val('C').trigger('change');
        $('#ddlstate').val('S').trigger('change');
        $('#ddlcity').val('Ct').trigger('change');



        $("#btnupdate").hide();

        $("#btnBeneficiaryformsubmit").show();
        $("#btneditmsg").hide();


        $("#btnfieldedit").hide();
        $("#ddlcountry").removeAttr("disabled");
        $("#txtFirst_Name").removeAttr("disabled");
        $("#txtMiddle_Name").removeAttr("disabled");
        $("#txtLast_Name").removeAttr("disabled");
        $("#DOB").removeAttr("disabled");
        $("#txtMobile").removeAttr("disabled");
        $("#ddlrelation").removeAttr("disabled");
        $("#ddlstate").removeAttr("disabled");
        $("#ddlcity").removeAttr("disabled");
        $("#txtPin").removeAttr("disabled");
        $("#txtAddress1").removeAttr("disabled");
        $("#txtAddress2").removeAttr("disabled");
        $("#txtAddress3").removeAttr("disabled");
        $("#altddlidentityproof").removeAttr("disabled");
        $("#txtIdentityProofValue").removeAttr("disabled");
        $("#ddlidentityproof22").removeAttr("disabled");
        $("#txtIdentityProofValue22").removeAttr("disabled");

        $("#Identity_Proof_txt").removeAttr("disabled");


        $("#Identity_Proof_txt").val("");
        $("#altfirstname").removeAttr("disabled");
        $("#altmiddlename").removeAttr("disabled");
        $("#altlastname").removeAttr("disabled");
        $("#DOB").removeAttr("disabled");
        $("#altmobile").removeAttr("disabled");
        $("#altddlrelation").removeAttr("disabled");
        $("#altddlstate").removeAttr("disabled");
        $("#altddlcity").removeAttr("disabled");
        $("#altpin").removeAttr("disabled");
        $("#altaddress1").removeAttr("disabled");
        $("#altaddress2").removeAttr("disabled");
        $("#altaddress3").removeAttr("disabled");
        $("#seconddl").removeAttr("disabled");
        $("#txtidentityproof").removeAttr("disabled");
        $("#altddlidentityproof1").removeAttr("disabled");
        $("#alttxtIdentityProofValue").removeAttr("disabled");








        $("#txtFirst_Name").val("");
        $("#txtMiddle_Name").val("");
        $("#txtLast_Name").val("");
        $("#DOB").val("");
        $("#txtMobile").val("");


        $("#txtPin").val("");
        $("#txtAddress1").val("");
        $("#txtAddress2").val("");
        $("#txtAddress3").val("");
        $("#altddlidentityproof").val("");
        $("#txtIdentityProofValue").val("");
        $("#ddlidentityproof22").val("");
        $("#txtIdentityProofValue22").val("");


        $("#altfirstname").val("");
        $("#altmiddlename").val("");
        $("#altlastname").val("");
        $("#DOB").val("");
        $("#altmobile").val("");


        $("#altpin").val("");
        $("#altaddress1").val("");
        $("#altaddress2").val("");
        $("#altaddress3").val("");
        $("#seconddl").val("");
        $("#txtidentityproof").val("");
        $("#altddlidentityproof1").val("");
        $("#alttxtIdentityProofValue").val("");
        $("#alttxtIdentityProofValue").val("");



        $(".altone").prop('checked', false);
        $(".altbeneficiaryclass").hide();


    });


</script>


@if (ViewBag.alternate == "true")
{
    <script>
        $(document).ready(function () {

            $(".altone").prop('checked', true);
            $(".altbeneficiaryclass").show();

        });

    </script>
}




@*for checking identity proof  and alternate identity proof*@



<script>


            function validateidentity(value) {

                $.ajax({

                    type: "POST",
                    url: "@Url.Action("Validateidentity", "AddBeneficiary")",
                    data: {"send":""+value+""},
                    success: function (data) {

                    
                        var data1 = data.split("~")[0];
                        var data2 = data.split("~")[1];
                        var data3 = data.split("~")[2];
                        var data4 = data.split("~")[3];
                        var data5 = data.split("~")[4];



                    
                        if (data1 == "false") {
                            $("#lblidentityproof").show();

                            $("#Identity_proof_value").val("");
                        }


                      
                        if (data2 == "false") {
                            $("#lblidentityproof").show();
                            $("#Identity_proof_value").val("");
                        }


                    



                        if (data4 == "false") {
                            $("#lblidentityproof").show();
                            $("#Identity_proof_value").val("");
                        }


                      
                        if (data3 == "false") {
                            $("#lblidentityproof").show();
                            $("#Identity_proof_value").val("");
                        }



                        if (data5 == "false") {
                            $("#lblidentityproof").show();
                            $("#Identity_proof_value").val("");
                        }



            }
        });



            }


</script>






<script>


            function Altvalidateidentity(value) {

                $.ajax({

                    type: "POST",
                    url: "@Url.Action("altValidateidentity", "AddBeneficiary")",
                    data: {"send":""+value+""},
                    success: function (data) {


                        var data1 = data.split("~")[0];
                        var data2 = data.split("~")[1];
                        var data3 = data.split("~")[2];
                        var data4 = data.split("~")[3];
                        var data5 = data.split("~")[4];


                       
                        if (data1 == "false") {
                            $("#altlblidentityproof").show();
                            $("#Alt_Identity_proof_Value").val("");
                        }



                        if (data2 == "false") {
                            $("#altlblidentityproof").show();
                            $("#Alt_Identity_proof_Value").val("");
                        }



                     



                        if (data4 == "false") {
                            $("#altlblidentityproof").show();
                            $("#Alt_Identity_proof_Value").val("");
                        }



                       
                        if (data3 == "false") {
                            $("#altlblidentityproof").show();
                            $("#Alt_Identity_proof_Value").val("");
                        }



                        if (data5 == "false") {
                            $("#altlblidentityproof").show();
                            $("#Alt_Identity_proof_Value").val("");
                        }



            }
        });



            }


</script>




@if (ViewBag.checkmessage == "false")
{
    <script>

        $(document).ready(function () {
            $("#btnbenecheck").on("click", function () { });

            $("#btnbenecheck").click(); //trigger event after listening to it.
        });



    </script>


}





@if (ViewBag.checkmessage == "true")
{

    if (Session["WillType"] != null)
    {
        if (Session["WillType"].ToString() == "Detailed")
        {
            <script>
                var url = "/AddMainAssets/AddMainAssetsIndex/";
                window.location.href = url;
            </script>

        }
        else
        {
            <script>
                var url = "/AddAppointees/AddAppointeesIndex/";
                window.location.href = url;
            </script>
        }
    }
    else
    {
        if (!Response.IsRequestBeingRedirected)
        {
            Response.Redirect("/LoginPage/LoginPageIndex");
        }
    }




}


@*end*@
