@model WillAssure.Models.RoleFormModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangingPasswordPageContent</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "RoleForm" }))
    {
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-primary">Change Password</div>
                        <hr>
                        <form>

                            <div class="form-group">
                                <label for="input-3">Old Password</label>
                                @Html.TextBoxFor(m => m.oldpassword, new { @class = "form-control validate[required]", @onchange = "checkoldpassword(value)", @id = "input-3", @placeholder = "  Old Password" })
                                <span id="checking" style="color:red; display:none;"><b>*Password Does not Belong To this User</b></span>
                            </div>
                            <div class="form-group">
                                <label for="input-4">New Password</label>
                                @Html.TextBoxFor(m => m.newpassword, new { @type = "password", @class = "form-control validate[required]", @onchange = "checksame(this.value)", @id = "input-4", @placeholder = "  Old Password" })
                                <span id="checkmsg" style="color:red; display:none;"><b>* New Password Cannot be Old Password</b></span>
                            </div>
                            <div class="form-group">
                                <label for="input-5">Confirm Password</label>
                                @Html.TextBoxFor(m => m.confirmpassword, new { @type = "password", @class = "form-control validate[required]", @onchange = "check(this.value)", @id = "input-5", @placeholder = "  Old Password" })
                                <span id="comparemsg" style="color:red; display:none;"><b>* Password Does Not Match</b></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" formaction="@Url.Action("Changepassword","ChangingPassword")" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i> Change Password</button>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    }
    <button id="change" style="display:none;"></button>

    <script>

        function checkoldpassword(value) {

            $.ajax({

                type: "POST",
                url: "@Url.Action("checkoldpassword", "ChangingPassword")",
                data: { "send": "" + value + "" },
                success: function (data) {
                    if (data == "true") {
                        $("#checking").hide();
                    }

                    if (data == "false") {
                        $("#checking").show();
                    }
                }
              });
        }


    </script>




    <script>
        $(document).ready(function () {
            $("#RoleForm").validationEngine();
        });

        function check(value) {

            var data = $("#input-4").val();

            if (value == data) {

                $("#comparemsg").hide();


            }
            else {

                $("#comparemsg").show();
                $("#input-5").val("");
            }


        }


        function checksame(value) {




            var data2 = $("#input-3").val();

            if (value == data2) {
                $("#checkmsg").show();
                $("#input-4").val("");
            }
            else {
                $("#checkmsg").hide();
            }


        }
    </script>


    @if (ViewBag.Message == "Verified")
    {
        <script>

            $(document).ready(function () {


                $("#change").on("click", function () { });

                $("#change").click(); //trigger event after listening to it.

                $("#input-3").validationEngine("hide");
                $("#input-4").validationEngine("hide");
                $("#input-5").validationEngine("hide");


            });
        </script>

    }


</body>
</html>
