﻿@model WillAssure.Models.TestatorFormModel
@{
    /**/

    ViewBag.Title = "TestatorHomePageContent";
}
<style>
    a:focus {
        color: #40a97b;
    }
</style>



<h6 class="text-uppercase">Vertical Nav Tabs</h6>
<hr>
<br />


@if (Session["documentamount"] != null)
{
    <input type="hidden" name="name" id="test" value="@Session["documentamount"]" />
}
else
{
    if (!Response.IsRequestBeingRedirected)
    {
        Response.Redirect("/LoginPage/LoginPageIndex");
    }
}



<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="tabs-vertical tabs-vertical-dark">
                            <ul class="nav nav-tabs flex-column top-icon">
                                <li class="nav-item">
                                    <a class="nav-link active" id="createddoc" data-toggle="tab" href="#tabe-25"><i class="icon-doc"></i> <span class="hidden-xs">Create Document</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabe-26"><i class="icon-check"></i> <span class="hidden-xs">Completed Document</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="incompleteddoc" data-toggle="tab" href="#tabe-27"><i class="icon-info"></i> <span class="hidden-xs">Incompleted Document</span></a>
                                </li>

                                @*<li class="nav-item">*@
                                <a class="nav-link" id="rzp-button1" style="display:none;"><i class="icon-badge"></i> <span class="hidden-xs">payment</span></a>
                                @*</li>*@

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="tabe-25" class="container tab-pane active">

                                @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "PopUp", id = "testatordocument" }))
                                {

                                    <textarea id="documenttype" name="documenttype" style="display:none;"></textarea>
                                    <div class="modal-body">
                                        @Html.HiddenFor(m => m.tId, new { @id = "tId" })

                                        <div class="row">
                                            <div class="col-sm-12"> <h5 style="color:#19c082;">Select Document Type</h5></div>

                                            <div class="col-sm-3">
                                                <label style="line-height:65px;">Document Type</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <br />
                                                    <label class="checkbox-inline Willdoc">
                                                        <input type="checkbox" value="Will" class="checkone radio validate[required] " name="will">Will
                                                    </label>








                                                    <label class="checkbox-inline codocildoc">
                                                        <input type="checkbox" value="Codocil" class="checktwo radio validate[required] " name="codocil">Codocil
                                                    </label>
                                                    <label class="checkbox-inline livingwilldoc">
                                                        <input type="checkbox" value="LivingWill" class="checkfive radio validate[required] " name="livingwill">Living Will
                                                    </label>
                                                    <label class="checkbox-inline poadoc">
                                                        <input type="checkbox" value="POA" class="checkthree radio validate[required] " name="poa">POA
                                                    </label>
                                                    <label class="checkbox-inline giftdeedsdoc">
                                                        <input type="checkbox" value="Giftdeeds" class="checkfour radio validate[required] gifts" name="giftdeeds">Giftdeeds
                                                    </label>


                                                    <br />
                                                    <span style="color:red;display:none;" id="documentmsg1">Please Complete Will Document First...!</span>
                                                    <span style="color:red;display:none;" id="documentmsg2">Please Complete Codocil Document First...!</span>
                                                    <span style="color:red;display:none;" id="documentmsg3">Please Complete LivingWill Document First...!</span>

                                                    <div id="willtype" style="display:none;">
                                                        <label class="radio-inline">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" id="typeone" name="typeofwill" value="Quick" checked>Quick
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" id="typetwo" name="typeofwill" value="Detailed">Detailed
                                                        </label>
                                                    </div>
                                                </div>
                                                @Html.HiddenFor(m => m.Document_Created_By_ID, new { id = "Document_Created_By_ID" })
                                                @Html.HiddenFor(m => m.Document_Created_By_txt, new { id = "Document_Created_By_txt" })
                                            </div>




                                            <div class="col-sm-6" id="paymentfields" style="display:none;">
                                                <div class="form-group">
                                                    <label>Do You Like To Use Coupon Number</label>






                                                </div>

                                                <div class="form-group">
                                                    <label class="radio-inline">
                                                        <input type="radio" id="getvalone" name="optradio">Yes
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" id="getvaltwo" name="optradio">No
                                                    </label>

                                                    <input type="text" id="txtvoucher" placeholder="Enter A Coupon Number" class="form-control" style="width:215px; display:none;" name="name" value="" />
                                                </div>


                                                <hr class="div_rd">



                                                <div class="form-group">
                                                    <button type="submit" id="paymentbtn" style="display:none;" formaction="insertDocumentDetails" class="btnpay btn btn-danger shadow-primary px-5 btnpop"><i class="icon-lock"></i>Make A Payment</button>
                                                </div>

                                            </div>





                                        </div>



                                    </div>



                                }

                            </div>
                            <div id="tabe-26" class="container tab-pane fade">

                                @*@if (ViewBag.empty == "true")
                                    {*@
                                <center id="title"><h4 style="color:darkred;">Currently No Document Has Been Completed...!</h4></center>
                                @*}*@



                                <center>
                                    <div id="AppendButton"></div>
                                    <textarea id="DetailedWill" style="display:none;">@ViewBag.Willbtn</textarea>
                                    <textarea id="QuickWill" style="display:none;">@ViewBag.WillQuickbtn</textarea>
                                    <textarea id="Codocildata" style="display:none;">@ViewBag.Codocilbtn</textarea>
                                    <textarea id="Livingdata" style="display:none;">@ViewBag.LivingWillbtn</textarea>

                                    <a href="@Url.Action("Report.aspx","page", new { NestId = ViewBag.testatorid })" id="compdocumentbtn2" style="display:none;"><button type="button" class="btn btn-success btn-round waves-effect waves-light m-1">POA</button></a>
                                    <a href="@Url.Action("Report.aspx","page", new { NestId = ViewBag.testatorid } )" id="compdocumentbtn3" style="display:none;"><button type="button" class="btn btn-info btn-round waves-effect waves-light m-1">Gift Deeds</button></a>


                                </center>




                            </div>



                            <div id="tabe-27" class="container tab-pane fade">
                                <center>
                                    <a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "Will" })" id="documentbtn1" style="display:none;"> <button type='button' class='btn btn-primary waves-effect waves-lightm-1'> <i class='fa fa-file' style='color:#f7dddd;'></i> <span>Will</span> </button></a>
                                    <a href="@Url.Action("CodocilIndex","Codocil")" id="documentbtn2" style="display:none;"> <button type='button' class='btn btn-success waves-effect waves-lightm-1'> <i class='fa fa-file' style='color:#f7dddd;'></i> <span>Codicil</span></button></a>
                                    <a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "POA" } )" id="documentbtn3" style="display:none;"><button type='button' class='btn btn-info waves-effect waves-lightm-1'> <i class='fa fa-file' style='color:#f7dddd;'></i> <span>POA</span></button></a>
                                    <a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "GiftDeeds" })" id="documentbtn4" style="display:none;"><button type='button' class='btn btn-danger waves-effect waves-lightm-1'> <i class='fa fa-file' style='color:#f7dddd;'></i> <span>GiftDeeds</span></button></a>
                                    <a href="@Url.Action("LivingWillIndex","LivingWill", new { doctype = "LivingWill" })" id="documentbtn5" style="display:none;"><button type='button' class='btn btn-warning waves-effect waves-lightm-1'> <i class='fa fa-file' style='color:#f7dddd;'></i> <span>Living Will</span></button></a>
                                </center>


                                <center id="paymenttitle" style="display:;"><h4 style="color:darkred;">Please Make Payment To View Document...!</h4></center>
                            </div>
                        </div>

                    </div>
                </div><!--End Row-->
            </div>
        </div>
    </div>
</div><!--End Row-->
@*payment integration script*@

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var v = parseInt($("#test").val()) * 100;

    var options = {
        "key": "rzp_test_GMBr5S3CwTimPr",
        "amount": "" + v + "", /// The amount is shown in currency subunits. Actual amount is ₹599.
        "name": "WillAssure",
        "order_id": "", // Pass the order ID if you are using Razorpay Orders.
        "currency": "INR", // Optional. Same as the Order currency
        "description": "Purchase Description",
        "image": "/assets/images/logo-icon.png",
        "handler": function (response) {
            //alert(response.razorpay_payment_id);
            $("#rzp-button1").hide();
            var url = "/Frontend/Makepayment";
            window.location.href = url;
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "test@test.com"
        },
        "notes": {
            "address": "Hello World"
        },
        "theme": {
            "color": "#F37254"
        }
    };
    var rzp1 = new Razorpay(options);

    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();


    }


    $("#btnpay").click(function () {

        $('#btnpay').dialog('close');
        return false;

    });

</script>



@if (TempData["MakePayment"] != null)
{

    if (TempData["MakePayment"].ToString() == "true")
    {
        <script>

            $(document).ready(function () {


                //$("#rzp-button1").hide()

                $("#rzp-button1").on("click", function () { });

                $("#rzp-button1").click(); //trigger event after listening to it.



            })

        </script>


    }

}





@if (ViewBag.PaymentLink == "true")
{
    <script>

        $(document).ready(function () {


            $("#btnpay").on("click", function () { });

            $("#btnpay").click(); //trigger event after listening to it.
        })















    </script>

    ViewBag.PaymentLink = "false";

}


@*end*@


<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url: "@Url.Action("checkpaymentstatus", "TestatorHomePage")",
            success: function (data) {

            }

        });



          $.ajax({

            type: "POST",
            url: "@Url.Action("checkcompleteddocument", "TestatorHomePage")",
            success: function (data) {

            }

        });










    });



</script>



@*FOR COMPLETED DOCUMENT*@

@if (ViewBag.Willbtn != null)
{
    <script>
        $(document).ready(function () {
            var data = $("#DetailedWill").val();

            $("#AppendButton").append(data);
            $("#compdocumentbtn1").show();
            $("#documentbtn1").hide();

            $("#title").hide();
        });

    </script>
}


@if (ViewBag.WillQuickbtn != null)
{
    <script>
        $(document).ready(function () {
            var data = $("#QuickWill").val();

            $("#AppendButton").append(data);
            $("#compdocumentbtn1").show();
            $("#documentbtn1").hide();

            $("#title").hide();
        });

    </script>
}

@if (ViewBag.POAbtn == "true")
{
    <script>
        $(document).ready(function () {
            $("#compdocumentbtn2").show();
            $("#documentbtn3").hide();

            $("#title").hide();

        });

    </script>
}


@if (ViewBag.Giftdeedsbtn == "true")
{
    <script>
        $(document).ready(function () {
            $("#compdocumentbtn3").show();
            $("#documentbtn4").hide();

            $("#title").hide();
        });

    </script>
}


@if (ViewBag.LivingWillbtn != null)
{
    <script>
        $(document).ready(function () {

            var data = $("#Livingdata").val();

            $("#AppendButton").append(data);

            $("#compdocumentbtn4").show();
            $("#documentbtn5").hide();

            $("#title").hide();
        });

    </script>
}


@if (ViewBag.Codocilbtn != null)
{
    <script>
        $(document).ready(function () {


            var data = $("#Codocildata").val();

            $("#AppendButton").append(data);


            $("#compdocumentbtn5").show();

            $("#documentbtn2").hide();

            $("#title").hide();



        });

    </script>
}





@*END*@



@*FOR INCOMPLETED DOCUMENT*@



@if (ViewBag.documentbtn1 == "true")
{

    <script>
        $(document).ready(function () {

            $("#documentbtn1").show();
            $("#paymenttitle").hide();

        });

    </script>

}
@*for codocil*@
@if (ViewBag.documentbtn2 == "true")
{

    <script>
        $(document).ready(function () {
            $("#documentbtn2").show();
            $("#paymenttitle").hide();
        });

    </script>






}
@if (ViewBag.documentbtn2 == "false")
{

    <script>

        $(document).ready(function () {

            $("#documentbtn2").hide();


        });


    </script>

}

@*end*@




@if (ViewBag.documentbtn3 == "true")
{

    <script>
        $(document).ready(function () {

            $("#documentbtn3").show();
            $("#paymenttitle").hide();

        });

    </script>

}
@if (ViewBag.documentbtn3 == "false")
{

    <script>

        $(document).ready(function () {

            $("#documentbtn3").hide();



        });

    </script>

}
@if (ViewBag.documentbtn4 == "true")
{

    <script>

        $(document).ready(function () {

            $("#documentbtn4").show();
            $("#paymenttitle").hide();


        });

    </script>

}

@if (ViewBag.documentbtn4 == "false")
{

    <script>

        $(document).ready(function () {

            $("#documentbtn4").hide();



        });

    </script>

}

@if (ViewBag.documentbtn5 == "true")
{

    <script>

        $(document).ready(function () {


            $("#documentbtn5").show();
            $("#paymenttitle").hide();


        });

    </script>

}
@if (ViewBag.documentbtn5 == "false")
{

    <script>

        $(document).ready(function () {

            $("#documentbtn5").hide();



        });


    </script>

}


@*END*@


@if (ViewBag.Testatorpopup == "true")
{
    <script>

        $(document).ready(function () {
            $("#btnotp").on("click", function () { });

            $("#btnotp").click(); //trigger event after listening to it.

        });
    </script>


}






@if (ViewBag.Message == "Failed")
{
    <script>

        $(document).ready(function () {
            $("#lblerror").html("Invalid OTP Number");

        });
    </script>

}





<script>
    $(document).ready(function () {

        // for checking will document
                       $.ajax({

            type: "POST",
            url:"@Url.Action("checkwilldocument", "TestatorHomePage")",
                           success: function (data) {

                               if (data == "true") {

                                   $(".Willdoc").show();
                               }

                               if (data == "false") {


                                   $(".Willdoc").hide();
                               }

                           }



        });

        // end






        //for checking codocil document



             $.ajax({

            type: "POST",
            url:"@Url.Action("checkcodocildocument", "TestatorHomePage")",
            success: function (data) {

                if (data == "false") {
                    $(".codocildoc").show();

                }
                if (data == "true") {
                    $(".codocildoc").hide();
                }


                }
        });



         //end




        // for checking Living Will Document

            $.ajax({

            type: "POST",
            url:"@Url.Action("checklivindocument", "TestatorHomePage")",
            success: function (data) {


                if (data == "false") {
                    $(".livingwilldoc").show();

                }
                if (data == "true") {
                    $(".livingwilldoc").hide();
                }


                }
        });








        //end










    });


            $(".checkone").click(function () {



                if ($(".checkone").is(":checked")) {
                    $("#documentmsg2").hide();
                    $("#documentmsg3").hide();
                    $("#willtype").show();







                    $('#DDLAmtPaidBY2').prop('disabled', false);



                    if ($(".checkone").is(':checked') == true || $(".checktwo").is(':checked') == true || $(".checkthree").is(':checked') == true || $(".checkfour").is(':checked') == true || $(".checkfive").is(':checked') == true) {
                        var x = $(".checkone").val();
                        $("#documenttype").append(x);

                        $("#paymentfields").show();
                        $(".btnpop").show();
                        $("#paymentbtn").show();

                    }
                    else {
                        $("#paymentfields").hide();
                        $(".btnpop").hide();
                        $("#paymentbtn").hide();
                    }
                }
                else {

                    $('#DDLAmtPaidBY2').prop('disabled', true);
                    $("#willtype").hide();

                    $("#paymentfields").hide();
                }



    });






    $(".checktwo").click(function () {

        if ($(".checktwo").is(":checked")) {
            var x = $(".checktwo").val();
              $("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
            $("#c").val(x);

            if ($(".checkone").is(':checked') == true || $(".checktwo").is(':checked') == true || $(".checkthree").is(':checked') == true || $(".checkfour").is(':checked') == true || $(".checkfive").is(':checked') == true) {


                $("#paymentfields").show();
                $(".btnpop").show();
                $("#paymentbtn").show();

            }
            else {
                $("#paymentfields").hide();
                $(".btnpop").hide();
                $("#paymentbtn").hide();
            }

        }
        else {
            $("#c").val('');

        }
        $("#lblcheck").hide();
    });








            $(".checkthree").click(function () {
                $("#documentmsg2").hide();
                if ($(".checkthree").is(":checked")) {
                    $("#documentmsg1").hide();
                    $("#documentmsg3").hide();
                    var x = $(".checkthree").val();
                    $("#documenttype").append(x);
                    $('#DDLAmtPaidBY2').prop('disabled', false);


                    if ($(".checkone").is(':checked') == true || $(".checktwo").is(':checked') == true || $(".checkthree").is(':checked') == true || $(".checkfour").is(':checked') == true || $(".checkfive").is(':checked') == true) {


                        $("#paymentfields").show();
                        $(".btnpop").show();
                        $("#paymentbtn").show();

                    }
                    else {
                        $("#paymentfields").hide();
                        $(".btnpop").hide();
                        $("#paymentbtn").hide();
                    }

                }





            });

            $(".checkfour").click(function () {
                $("#documentmsg2").hide();
                $("#documentmsg1").hide();
                $("#documentmsg3").hide();
                if ($(".checkfour").is(":checked")) {
                    $("#documentmsg1").hide();
                    var x = $(".checkfour").val();
                    $("#documenttype").append(x);
                    $('#DDLAmtPaidBY2').prop('disabled', false);


                    if ($(".checkone").is(':checked') == true || $(".checktwo").is(':checked') == true || $(".checkthree").is(':checked') == true || $(".checkfour").is(':checked') == true || $(".checkfive").is(':checked') == true) {


                        $("#paymentfields").show();
                        $(".btnpop").show();
                        $("#paymentbtn").show();

                    }
                    else {
                        $("#paymentfields").hide();
                        $(".btnpop").hide();
                        $("#paymentbtn").hide();
                    }

                }





            });


            $(".checkfive").click(function () {
                $("#documentmsg1").hide();
                $("#documentmsg2").hide();
                var x = $(".checkfive").val();

                if ($(".checkfive").is(":checked")) {
                    $("#documentmsg1").hide();
                    var x = $(".checkfour").val();
                    $("#documenttype").append(x);
                    $('#DDLAmtPaidBY2').prop('disabled', false);

                    if ($(".checkone").is(':checked') == true || $(".checktwo").is(':checked') == true || $(".checkthree").is(':checked') == true || $(".checkfour").is(':checked') == true || $(".checkfive").is(':checked') == true) {


                        $("#paymentfields").show();
                        $(".btnpop").show();
                        $("#paymentbtn").show();

                    }
                    else {
                        $("#paymentfields").hide();
                        $(".btnpop").hide();
                        $("#paymentbtn").hide();
                    }

                }




            });





    $(document).on("change", "#getvalone", function () {



        $("#txtvoucher").show();


    });

    $(document).on("change", "#getvaltwo", function () {

        $("#txtvoucher").hide();


    });



</script>





